.festive-container {
  display: flex;
  gap: 120px;
  background-color: #f9f9f4;
  margin-bottom: 158px;
  height: 500px;
  font-family: Arial, sans-serif;
}

.image-section {
  flex: 1;
  background-color: #f15a24;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 886px;
}

.image-section img {
  width: 100%;
  height: 100%;
}

.text-section {
  padding: 20px;
  color: #333;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
}

.small-text {
  font-size: 14px;
  font-weight: 700;
  color: #555;
  margin-bottom: 10px;
}

.title-text {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: Zapf Humanist, serif;
}

.description-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}
